<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GalaxySchool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu">
        <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="Menu">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  href="#" id="ListaCursos" role="button" data-toggle=dropdown aria-haspopup="true" aria-expanded="false">Cursos</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Curso Intermediario- Ruby on rails</a>
                    <a class="dropdown-item" href="#">Curso Intermediario- JavaScript</a>
                    <a class="dropdown-item" href="#">Curso Avançado - PHP</a>
                    <a class="dropdown-item" href="#">Curso Iniciante - Flutter</a>
                    <a class="dropdown-item" href="#">Curso Intermediario- Java</a>
                </div>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contatos</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>